<h1>Edit enrollment</h1>

<form id="edit-enrollment" name="enrollment">
  <div class="field">
    <label for="section"> section:</label>
    <input type="text" name="section" id="section" value="<%= section %>" >
  </div>

  <div class="field">
    <label for="student"> student:</label>
    <input type="text" name="student" id="student" value="<%= student %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Enrollment" />
  </div>

</form>

<a href="#/index">Back</a>
