<h1>Listing enrollments</h1>

<table id="enrollments-table">
  <tr>
    <th>Section</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Enrollment</a>