<h1>Edit course</h1>

<form id="edit-course" name="course">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="department"> department:</label>
    <input type="text" name="department" id="department" value="<%= department %>" >
  </div>

  <div class="field">
    <label for="number"> number:</label>
    <input type="text" name="number" id="number" value="<%= number %>" >
  </div>

  <div class="field">
    <label for="credit_hours"> credit_hours:</label>
    <input type="text" name="credit_hours" id="credit_hours" value="<%= credit_hours %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Course" />
  </div>

</form>

<a href="#/index">Back</a>
