<h1>Listing courses</h1>

<table id="courses-table">
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Number</th>
    <th>Credit hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Course</a>