<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Department:</b>
  <%= department %>
</p>

<p>
  <b>Number:</b>
  <%= number %>
</p>

<p>
  <b>Credit hours:</b>
  <%= credit_hours %>
</p>


<a href="#/index">Back</a>