<h1>Listing sections</h1>

<table id="sections-table">
  <tr>
    <th>Course</th>
    <th>Semester</th>
    <th>Number</th>
    <th>Room number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Sections</a>