<h1>New section</h1>

<form id="new-section" name="section">
  <div class="field">
    <label for="course"> course:</label>
    <input type="text" name="course" id="course" value="<%= course %>" >
  </div>

  <div class="field">
    <label for="semester"> semester:</label>
    <input type="text" name="semester" id="semester" value="<%= semester %>" >
  </div>

  <div class="field">
    <label for="number"> number:</label>
    <input type="text" name="number" id="number" value="<%= number %>" >
  </div>

  <div class="field">
    <label for="room_number"> room_number:</label>
    <input type="text" name="room_number" id="room_number" value="<%= room_number %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Sections" />
  </div>

</form>

<a href="#/index">Back</a>