<p>
  <b>Course:</b>
  <%= course %>
</p>

<p>
  <b>Semester:</b>
  <%= semester %>
</p>

<p>
  <b>Number:</b>
  <%= number %>
</p>

<p>
  <b>Room number:</b>
  <%= room_number %>
</p>


<a href="#/index">Back</a>